doctype 5
html(lang="en")
  head
    title=title
    link(rel="stylesheet", href="/css/main.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js")
  body
    #topbar
        a(href="/") home
        a(href="/about") about
        a(href="/about") projects
        a(href="/about") twitter
    #main 
        include ../includes/sidebar
        #content
            block content
    #footer
        span powered by node.js, poet and some edgy sunglasses
    script.
        hljs.initHighlightingOnLoad();
