@import url('normalize.css');
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Droid+Sans+Mono);
@import url('hl/github.css');
 * {
 	box-sizing: border-box;
 	-moz-box-sizing: border-box;
 }
html {
	height: 100%;
	min-height: 100%; 
}
body {
	font-family: 'Lato';
	font-weight: 200;
	position: relative;
	min-height: 100%;
}

a {
	text-decoration: none;
	color: #3a6a9a;
}

a:hover {
	color: #113388;
	text-decoration: underline;
}

h1,h2,h3,h4 {
	font-family: 'Lato';
	font-weight: 200;	
}

#topbar {
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	height: 50px;
	line-height: 50px;
	background: #204080;
	padding: 0 12px;
}

#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 50px;
	line-height: 50px;
	font-size: 10px;
	text-align: right;
	padding: 0 12px;	
}

#topbar a {
	color: white;
}

#topbar a:hover {
	color: #eee;
	text-decoration: none;
}

#main {
	padding: 0 12px 75px;
}

