extends ../layouts/html5

block content 
	h1 About

	p This is the personal blog of Dan Peddle (being me). 
	p It seems a lot of people who get into working around the web come to it from diverse backgrounds. That kind of includes me. I  fell into working on projects for the web after wanting to find a career I could get my teeth into. That old story.
	p Interest and aptitude for it left me totally fascinated, and enjoying it very much. There's nothing more satisfying than finding out about something new, putting it into practice, and seeing people getting something out of the things we make.
	p Programming, developing, whatever you want to call it - it's a deep subject, and I don't pretend to know everything. I guess that's why it fascinates me so. 
	
	h2 Short bio

	p I'm currently working as a JavaScript Engineer with Delivery Hero, in Berlin. It's a good place to learn a lot, and making the most of that.
	p Before that, I've worked on a ton of projects - where interesting, I've written up some notes about them on my projects page. Quite proud of some of the things I've pulled off, and would welcome any comments. Where I can, will try to open source components or full projects.



	h2 Links
	ul
		li 
			a(href="https://github.com/dazld") Github
		li
			a(href="https://twitter.com/danpeddle") Twitter
		li 
			a(href="https://linkedin.com") LinkedIn
